
<div class="message">
<p>
 <h1> <%= @messages.title %></h1>

</p>

<p>
  <%= @messages.description %>
</p>
<br>
<p>
  Verfasst am:  <%= @messages.created_at.strftime('%d.%m.%y')%>
</p>
</div>
<br>
<%= link_to "Zurück zur Startseite", messages_index_path%>