<h1>Webbasierte Kommunikationsoberfläche</h1>
<p>Auf dieser Website finden sie aktuelle Informationen bezüglich:</p>
<ul>
  <li>Urlaubsplanung</li>
  <li>Raumplanung</li>
  <li>KFZ-Plannung</li>
</ul>
<p>Weiterhin ist ein schwarzes Brett vorhanden mit dem Sie nicht nur aktuelle Informationen und Events abrufen können ,sondern auch interagieren können</p>

<br>
<p>Das Web-Team wünscht viel Spaß mit der Website :-)</p>