// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.message{
    background: #f5f5f5;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.4);
}

#title{
  transition: all .2s ease-in-out;
}

#title:hover{
  transform: scale(1.1);
}

#important_tag{
  color: red;
}

.comment{
  background: #f5f5f5;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.4);
}

#user{
  font-weight: bold;
}

#links, #rechts{
  float: left;
  width: 50%;
}

#links{
  float: left;
  height: auto;
  white-space : nowrap;
  overflow: auto;
}

#rechts{
  border-left: 5px ridge;
  padding: 15px;
  width: 50%;
}

#wrapper{
  width: 100%;
  vertical-align: middle;
}

#button {
  text-align: center;
  background: lightgrey;
  color: #fff;
  font-family: Sans-serif;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.4);
  font-size: 20px;
  height: 60px;
  width: 150px;
  line-height: 60px;
  margin: 25px 25px;
  text-align: center;
  border: 0;
  transition: all 0.3s ease 0s;
}

#button:hover {
  background: white;
}

#button1{
  background-color: lightgrey;
  border: solid;
  border-color: white;
  border-radius: 5px;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

#button1:hover {
  background: white;
  border-color:lightgrey;
}