// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

hr{
  color: black;
  height: 5px;
}

.message{
    background: #f5f5f5;
    border: 1px solid #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.4);
}

#links, #rechts{
  float: left;
  width: 50%;
}

#rechts{
  border-left: 5px ridge;
  width: 50%;
}

#wrapper{
  width: 100%;
}